<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="client-page col-md-12">
				<h2>Kandidatët e përzgjedhur përfundimisht për grantin <strong>Menaxhmi i mbeturinave</strong> në <strong> Drejtorin e Shëndetësis</strong></h2>
				<div class="table-responsive"> 
					<table class="table table-condensed grantet">
						<thead>
							<tr>
								<th class="par">Nr.</th>
								<th>Kandidatët e përzgjedhur</th>
								<th class="par">ID</th>
								<th>Shuma e aprovuar</th>
							</tr>
						</thead>
						<tr>
							<td>1</td>
							<td>Filan Fisteku</td>
							<td>123123</td>
							<td>1500  <i class="fa fa-eur"></i></td>
						</tr>
					</table>
				</div>									
				<h2>Kandidatët e përzgjedhur përfundimisht për grantin <strong>Menaxhmi i mbeturinave</strong> në <strong> Drejtorin e Shëndetësis</strong></h2>
				<div class="table-responsive"> 
					<table class="table table-condensed grantet">
						<thead>
							<tr>
								<th class="par">Nr.</th>
								<th>Kandidatët e përzgjedhur</th>
								<th class="par">ID</th>
								<th>Shuma e aprovuar</th>
							</tr>
						</thead>
						<tr>
							<td>1</td>
							<td>Filan Fisteku1</td>
							<td>9656987</td>
							<td>1700  <i class="fa fa-eur"></i></td>
						</tr>
																																																	<tr>
							<td>2</td>
							<td>Filan Fisetku</td>
							<td>6582</td>
							<td>1700  <i class="fa fa-eur"></i></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12">
			<div class="sidebar col-md-12">
				<div class="meteper btn col-md-12 col-sm-12 col-xs-12">
					<a href="grantet.html"><p>Më tepër grante</p></a>
				</div>
				<div class="neproces btn col-md-12 col-sm-12 col-xs-12">
					<a href="ne_proces.html"><p>Aplikacionet në proces</p></a>
				</div>
				<div class="fituesit btn col-md-12 col-sm-12 col-xs-12">
					<a href="tefundit.html"><p>Fituesit e granteve</p></a>
				</div>
			</div>
		</div>
	</div>
</div>